<div class="titulo-productos">
    <span>Productos</span>
</div>
<nav class="navbar navbar-expand-md navbar-light bg-light p-0">
    <div class="container-fluid p-1 navegacion">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav flex-column menu">
                <li class="nav-item"><a href="#">Frutas</a></li>
                <li class="nav-item"><a href="#">Vegetales</a></li>
                <li class="nav-item"><a href="#">Gourmet</a></li>
            </ul>
        </div>
    </div>
</nav>
