/* nav */
.navegacion {
    width: 100%;
    background-color: #c0d6df;
    text-align: center;
  }
  
  .navegacion ul {
    list-style: none;
  }

  .menu {
    margin-top: 70px;
  }

  .menu li {
    position: relative;
    display: inline-block;
  }
  
  .menu li a {
    display: block;
    padding: 15px 20px;
    color: black;
    text-decoration: none;
    background-color: rosybrown;
    border-radius: 10px;
    margin: 10px 10px;
  }
  
  .menu li a:hover {
    color: #023e8a;
    background-color: white;
  }
  
  .menu li:hover .submenu {
    display: block;
  }
  
  .submenu {
    position: absolute;
    background: #c0d6df;
    width: 100%;
    display: none;
    z-index: 10;
    padding: 0rem 0rem;
    margin: 0rem 0rem;
    text-align: center;
  }
  
  .submenu li a {
    display: block;
    padding: 15px 20px;
    color: black;
    text-decoration: none;
  }
  
  .submenu li a:hover {
    color: #023e8a;
  }
  
  .menu-activo {
    background-color: white;
    border-top: groove 0.30rem #023e8a;
    padding-bottom: 0rem;
  }

  .titulo-productos {
    text-align: center;
    padding: 1rem 0;    
    justify-content: baseline;
    border-top: 0.30rem solid rosybrown;
    border-bottom: 0.30rem solid rosybrown;
  }



