<div class="container-fluid" style="margin-top: 10rem;">
  <div class="row justify-content-center">

    <div class="col-3">
      <div class="card" style="width: 20rem;">
        <img class="card-img-top tarjeta-imagen"
          src="../../../assets/img/huerta-card-1.jpg"
          alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Verduras Frescas</h5>
          <p class="card-text raya-linea"></p>
          <a href="#" class="btn btn-primary tarjeta-boton">Ir a la tienda</a>
        </div>
      </div>
    </div>

    <div class="col-3">
      <div class="card" style="width: 20rem;">
        <img class="card-img-top tarjeta-imagen"
          src="../../../assets/img/huerta-card-2.jpg"
          alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Las Mejores Frutas</h5>
          <p class="card-text raya-linea"></p>
          <a href="#" class="btn btn-primary tarjeta-boton">Ir a la tienda</a>
        </div>
      </div>
    </div>

    <div class="col-3">
      <div class="card" style="width: 20rem;">
        <img class="card-img-top tarjeta-imagen"
          src="../../../assets/img/huerta-card-3.jpg"
          alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Linea Gourmet</h5>
          <p class="card-text raya-linea"></p>
          <a href="#" class="btn btn-primary tarjeta-boton">Ir a la tienda</a>
        </div>
      </div>
    </div>

  </div>
</div>