.tarjeta-imagen {
    width: 200px;
    height: 180px;
}

.tarjeta-boton {
    text-align: center;
    width: 100%;
}

.tarjeta-separador {
    text-align: center;
    color: green;
}

.raya-linea {
    border-bottom: 0.30rem solid #c0d6df;
    margin-top: 2rem;
    margin-bottom: 2rem;
}